[user]
	name = sungbin
	email = dlatqdlatq@mju.ac.kr

[includeIf "gitdir:~/Desktop/workspace/"]
	path = ~/.gitconfig-private

[core]
	excludesfile = $HOME/.gitignore_global
	editor = nvim

[color]
	diff = auto
	status = auto
	branch = auto

[push]
	default = current

[pull]
	rebase = true

[alias]
  history = log --graph --pretty=format:'%C(auto)%h%d %s %Cgreen(%an, %ar)%Creset' --date=short

[init]
	templatedir = ~/dotfiles/.git_template
