[user]
	name = NEM-NE
	email = dlatqdlatq@mju.ac.kr
[core]
	excludesfile = /Users/imseongbin/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/07/d0wdfz9541g6hqxdd1w_42bc0000gn/T/AppTranslocation/C315992A-4C49-4F84-B19A-623145A13789/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/imseongbin/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
